global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'ak4-monitoring'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node-exporter:9100']
        labels:
          service: 'host'
          instance: 'linux-host'

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
        labels:
          service: 'containers'
          instance: 'docker-containers'
    metrics_path: '/metrics'